body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.legend {
  background-color: rgb(131, 129, 129);
  padding: 5px;
  color: #ffffff;
  border-radius: 10px;
}

.legend-title {
  color: #ffffff
}

.legend-text {
  font-size: medium;
  padding-bottom: 15px;
}
